/* CSS declarations go here */


.nav a {
  color: #5a5a5a;
  font-size: 21px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
header h1{
  color: #5a5a5a;
  font-weight: bold;
}

.nav li{
  display:inline;
}
img{
  margin:0px auto;
  /*padding:5px 0px 5px 0px;*/
  border: 4px solid #8BC34A;
}

.jumbotron{
 padding: 30px;
 margin-bottom: 30px;
 font-weight: bold;
 line-height: 2.1428571435;
 color:#8BC34A;
 background-color:#558B2F;
 text-align:center !important;
}
body{
  background-color: #E6EE9C;
}

.jumbotronimage{
  background-color: #FFC107;
}

button .btn-danger{
color: green !important;
}
footer li{
  display:inline;
  font-weight: bold;
}
